body{
    
    font-family: 'Work Sans', sans-serif;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto 10%;
}

.icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon img{
    width: 86.041px;
    height: 40px;
}
.icon h1{
    margin: 0; 
    font-size: 2.7em;
    font-weight: 700;
    

}
nav span{
    color: rgb(244, 27, 164);
}
.nav-link{
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #574f6e;
    font-weight: 500;
}
.nav-link button{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #574f6e;
    font-weight: 600;
    gap: 10px;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
}


/* banner section  */
.banner h1{
    margin: 0;
    font-size: 2.7em;
    font-weight: 600;
    text-transform: uppercase;
}
.banner h2{
    margin:.3em 0;
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner p, .p-text{
    font-size: 20px;
    color: #574f6e;
    font-weight: 500;
    line-height: 30px;
    
}

.primary-button{
    font-size: 20px;
    color: white;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #F948B2;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    
}
.btn-color{
    margin-left:10px;
    background: #4EC5F7;
}
.banner-button{
    display: flex;
}


.banner{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    margin: 0 10%;
}
.section1{
    background-image: url(/images/Group\ 14.png);
     width: 100%;
    

}
.banner-contain{
    width: 50%;
}

.banner img{
    margin-top: 20px;
    width: 100%;

}

/* section 2  */
.collection-section{
    margin: 120px 10%;
    text-align: center;
}
.collection-section h1, .title-text{
    margin: 5px;
    font-size: 3rem;
    font-weight: 700;
}
.collection-section span, .span-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.collection-container{

    
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    text-align: start;
    font-size: 20px;
    color: #574f6e;
    font-weight: 500;
    
   
}
.collection-container > div {
    width: 100%;
}
.collection-container> div > img{
    width: 100%;
}
.image3{
    position: relative;
    
}
.style{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 74%;
    border-radius: 15px;
    border: #F948B2 solid 2px;
    opacity: 0;
    background-color: #252121b5;
    background-image: url(/images/youtube.png) ;
    background-repeat: no-repeat;
    background-position: center;
    
}
.style::after{
    content: "Watch Now";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 700;
    color: #F948B2;
}
.image3:hover .style{

    opacity: 1;
}

.play-section{

    margin: 5% 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 220px;
    text-align: end;
}

.upper-image{
    position: relative;
    bottom: 250px;
    right: 120px;
    width: 300px;
    /* width: 100%; */
}


.image{
    width: 50%;
    
} 
.btn-section{
    margin: 0 10%;
    text-align: center;
    
}
.btn-container{
    
    display: flex;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
    
}
.btn-container>button{
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 1em;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px 10px;
    border: none;
    background-color: white;
    margin:18px ;
    
}
.btn-container>button>img{
    width: 50px;
}
.btn-container>button:hover{
    border: #F948B2 solid 2px;
    color: #F948B2;
}

footer{
    background-color:  #0B0223;
    text-align: center;
    margin-top: 8%;
    padding: 5%;
    color: white;
}
footer>div>div{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
}
footer>div span{
    color:#F948B2;
}
.copyRight-text{
    font-weight: 500;
    color:rgba(255, 255, 255, 0.60);;
}
.copyRight-text>br{
    display: none;
}
.footer-icon>button{
    background: none;
    border: none;
}



@media screen and (max-width: 425px) {
    nav, .nav-link, .banner, .collection-container, .play-section{
        flex-direction: column;
        
        align-items: center;
    
    }
    .banner h2{
        font-size: 4em;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-contain{
        width:100%
    }
    .primary-button{
        font-size: 1rem;
        padding: 15px;
        

    }
    .play-section{
        text-align: center;
        gap: 5%;
    }
    
    .main-image{
        margin: 5% 0;

        padding: 0;
        
        
        width: 175%;
    }
    .upper-image img{
        width: 50%;
        position: relative;
        bottom: -100px;
        right: 50px;

    }
    .btn-container>button{
        font-size: .5em;
        gap: .5em;
        font-weight: 600;
        border-radius: 40px;
        padding: 2px 3px;
        margin: 5px;
        justify-content: space-evenly;
    }
    .btn-container>button>img{
        width: 20px;
    }
    footer>div>div{
        flex-wrap: wrap;
    }
    footer>div{
        
        padding: 8%;
    }
    
    .footer-icon svg{
        margin: 10px;
    }
    .copyRight-text{
        margin: 0;
        
        /* padding: 0px; */
    }
    .copyRight-text>br{
        display: inline-block;
    }
    
}

@media screen and (min-width:426px) and (max-width:768px) {
    .play-section{
        flex-direction: column;
        
    }
    .main-image{
        margin: 5% 0 ;

        padding: 0;
        
        
        width: 175%;
    }
    .upper-image img{
        width: 50%;
        position: relative;
        bottom: -100px;
        right: 50px;

    }
    .banner h1{
        font-size: 2em;
        padding-top: 10px;
    }
    .banner h2{
        font-size: 3em;
    }
    .banner p, .p-text{
        font-size: 1em;
    }
    .primary-button{
        font-size: 12px;
        padding: 5px;
    }
    .icon img{
        width: 60px;
        height: auto;
    }
    .icon h1{
        font-size: 2em;
    }
    .nav-link button{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 8px;
        border: none;
    }
    .nav-link{
        flex-direction: column-reverse ;
        gap: 0;
        align-items: flex-start;
        
    }
    
    
}